[Unit]
Description=Shadowsocks R8 Service
After=network.target

[Service]
Type=simple
ExecStart=/root/shadowsocksr/shadowsocks/logrun.sh
ExecStop=/root/shadowsocksr/shadowsocks/stop.sh
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target